body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  #header-background {
    /* width: 1440px;
    height: 50px; */
    /* min-height: 10px; */
    top: 15px;
    left: 65px;
    background-color:#0066b3;
  }
  #HCL-Dashboard
  {
  width: 105px;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 65px;
  }
 
  /*
    stepper component styles
  */

  #main-stepper {
    padding:0px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25%;
    margin-right: 25%;
    /* width:40%; */
    background-color: #f5f5f5;
  }

  #create-toolchain-text {
    margin-top: 40px;
    height: 35px;
    font-size: 22px;
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: center;
    color: #383838;
  }

  #setup-your-projects {
    margin-bottom: 40px;
    /* width: 192px; */
    height: 18px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #383838;
  }

  #label-name {
    width: 43px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #152935;
    /* flex-grow: 1; */
  }

  #label-stack-technology {
  width: 274px;
  height: 19px;
  margin-left: 585px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #152935;
}

#label-available-toolchain {
  width: 414px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #152935;
  margin-top: 40px;
  margin-bottom: 25px;
}

  #flex-container {
    display: flex;
  }

  #icon-button-style 
  {
    height:16px;
    width: 16px;
    margin: 5px;
  }

  #toolbar-style
  {
    min-height:50px;
    padding-left: 0px;
    padding-right: 5px;
  }

  /*
  Capsule card styles
  */
  .check-visible{ 
    color: #2b74b9;
    visibility: visible;
    vertical-align: top;
}
.check-hidden{
    visibility: hidden;
    /* align-self: right; */
    
}
.display-visible{
    display: block;
}

.capsule-active {

  width: 130px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.capsule-focus {
  width: 130px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

#label-standard-toolchain{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #383838;
}

.display-none{
  display: none;
}

.glowing-border-cpl2 { 

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: ridge 1px;
  border-color: darkblue;
  outline: none;
  /* border-color: #2b74b9; */
}
  
.border-cpl2 { 
  border: ridge 1px;
  border-color: darkgray;
  outline: none;
  /* border-color: #2b74b9; */
}

  /* pipeline Dashboard */
  #pipeline {
    
    background-color: #ffffff;
    margin-left: 150px;
    margin-right: 150px;

  }
  #name {

    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #383838;
    display: flex;

  }
  #manualInstallation
  {
    width: 1196.4px;
  height: 662px;
  background-color: #ffffff;
  margin-top: 178px;
  margin-left: 128px;

  
  }
  #manualInstallationHeading{

    width: 357px;
    height: 35px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: center;
    color: #383838;
    margin-left: 418.5px;
    margin-top: 40px
  }
#manualInstallationSubHeading{
  width: 213px;
  height: 18px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
  margin-left: 490px;
}
#manualSuccess{
  width: 1120px;
  height: 40px;
  background-color: #effae7;
  margin-left: 35px;
  margin-top: 39.2px;
  display: flex;
  box-shadow: none;
}
#successButton
{
  width: 24px;
  height: 23.5px;
  color: #79d732;
  margin-left: 403px;
  margin-top: 8px;
}
#successText
{
  width: 293px;
  height: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #383838;
  margin-top: 8px;
  margin-left: 16px;
}

#manualFailure{
  width: 1120px;
  height: 40px;
  background-color: #faf0f1;
  margin-left: 35px;
  margin-top: 39.2px;
  display: flex;
  box-shadow: none;
}
#failureButton
{
  width: 24px;
  height: 24px;
  color: #eb1946;
  margin-left: 403px;
  margin-top: 8px;
  
}
#failureText
{
  width: 273px;
  height: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #383838;
  margin-top: 8px;
  margin-left: 16px;
}
#manualProgress{
  width: 1120px;
  height: 40px;
  
  margin-left: 35px;
  margin-top: 39.2px;
  display: flex;
  background-color: #e7f3ff;
}
#progressButton
{
  width: 24px;
  height: 24px;
  margin-top: 8px;
  
  margin-left: 403px;
  
}
#statusTableDiv
{
  margin-top: 32px;
  margin-left: 36px;
  display: flex;
  
}

#statusTable
{
  width: 756.6px;
  border:  1px solid grey
}
#statusTableHead
{
  width: 756.6px;
  height: 40px;
  background-color: #efefef;
}
#tableHeadingFirst
{
  width: 162px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-left: 31.4px;
}
#tableHeadingStatus
{
  width:162px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-left: 90.5px;
}
#tableHeadingActions
{
  width:162px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-left: 90.5px;
}


#troubleShootingDiv
{
  margin-left: 42px;
  margin-right: 40px;
  width: 322px;
  height: 352px;
  border: 1px solid #d2d2d2;
}
#troubleShootingHeading
{
  width: 149.2px;
  height: 18px;
  
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
  margin-top: 32px;
  margin-left: 87px
}
#troubleShootingContent
{
  
  margin-left: 32px;
  margin-right: 32px;
}
#troubleShootingContent1
{
  width: 258px;
  height: 60px;
 font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #383838;
  margin-top: 32px;
}
#troubleShootingContent2
{
  width: 258px;
  height: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #383838;
  margin-top: 20px;
}
#troubleShootingContent3
{
  width: 258px;
  height: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #0066b3;
  margin-top: 28px;
}
#troubleShootingContent4
{
  width: 258px;
  height: 60px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #383838;
  margin-top: 29px;
}
#troubleShootingContent5
{
  width: 258px;
  height: 36px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
  margin-top: 24px;
  margin-left: 32px;
}

#tableRowFirst
{
  width: 162px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-left: 31.4px;
}
#tableRowStatus
{
  width:162px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-left: 90.5px;
}
#tableRowActions
{
  width:162px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-left: 90.5px;
}
#checkCircle
{
  color:#79d732;
  height:16px;
  width:16px
}
#highlightOff
{
  color:#eb1946;
  height:16px;
  width:16px
}


/* Automated Installation */
#automatedInstallationHeading{

  width: 326px;
  height: 35px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
  margin-left: 437px;
  margin-top: 40px
}
#automatedlInstallationSubHeading
{
  width: 558px;
  height: 18px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
  margin-left: 321px;
}
#automatedProgress{
  width: 1120px;
  height: 40px;
  box-shadow: none;
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  background-color: #e7f3ff;
}
#automatedFailureButton
{
  width: 24px;
  height: 24px;
  color: #eb1946;
  margin-left: 229px;
  margin-top: 8px;
  
}
#automatedFailureText
{
  width: 622px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #383838;
  margin-top: 12px;
  margin-left: 16px
}
#automatedStatusTable
{
  width: 539px;
  border:  1px solid grey;
  margin-right: 40px;
}
#automatedTableHeadingFirst
{
  width: 188px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-left: 29px;
}
#automatedTableHeadingStatus
{
  
  width: 116px;
  height: 19px;
  background-color: #383838;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;

}
#automatedTableHeadingActions
{
  
  height: 16px;
  width: 86px;
  /* background-color: #0066b3; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  padding: 0px
  
}
#logDiv
{
  background-color: #ffffff;
  height: 350px;
  overflow: auto;
  border: 1px solid grey
}
#automatedStatusTableDiv
{
  margin-top: 32px;
  margin-left: 36px;
  display: flex;
  width: 1120px;
}
#automatedTableRowActions
{
  width:86px;
  height: 16px;
  /* background-color: #383838; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  padding: 0px 0px 0px 0px;
}


/*--- Manual Steps ---*/
#manualStepsHeading{
  width: 353px;
  height: 35px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
  margin-left: 421px;
  margin-top: 40px;


}
#manualStepsSubHeading{
  width: 473px;
  height: 18px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
  margin-left: 361px;
  margin-bottom: 24px
  
}

#screen1{
  width: 1200px;
  margin-left:40px;
  margin-right:40px;
}
.disabledOpen
{
  pointer-events: none;
   cursor: default;
   color: grey;
   
}


#disableCapsule
{
  /* background-color:lightgrey; */
  pointer-events: none;
  opacity: 0.3;
}



.primary
{
  background-color: #0066b3;
  height: 40px;
}
.primary :hover
{
  background-color: #00518f;
}
.secondary :hover{

  background: red;  
}
.disabledButton
{
  pointer-events: none;
   cursor: default;
   color: grey;
   
}
#arrowForward
{
  background: #0066b3;
}
#arrowBack
{
  background: #0066b3;
}
.disablePrimaryButton
{
  opacity: 0.3;
  color: red;
  
}
.primaryButton
{
  background:'#0066b3';
}
#pbutton
{
  background: #0066b3;
  box-shadow: none;
}
#pdisabledbutton
{
  box-shadow: none;
  opacity: 0.5;
  pointer-events: none
}
#sdisablebutton
{
  box-shadow: none;
  opacity: 0.5;
  pointer-events: none
}
#sbutton
{
  box-shadow: none;
}
#textStyle
{
  font-family: Roboto
}
#stepperIcon
{
  height: 24px;
  width: 24px;
  border-radius: 50%;

}
#bootstrap-input::placeholder
{
 
}
#bootstrap-input
{
  text-indent: 10px;
}