#Rectangle {
    width: 1200px;
    height: 674px;
    background-color: #ffffff;
  }
#Create-New-ToolChain
{
    width: 226px;
    height: 35px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: center;
    color: #383838;
  
}